# Node
node_modules/
dist/


# Docker
Dockerfile
.dockerignore
docker-compose.yaml
docker-compose.prod.yaml

# OS
.DS_Store
.vscode/

# git
.gitignore
README.md
.git

static/products/*.jpeg
static/uploads/*.jpeg


static/products/*.jpg
static/uploads/*.jpg
static/products/*.png
static/uploads/*.png
static/products/*.gif
static/uploads/*.gif
package-lock.json
